<div class="row">
	<div class="col-md-1">
	</div>
	<div class="col-md-10">
		{% for post in site.posts %}
		<div class="card bg-light mb-3" style="max-width: {{ post.excerpt_size }}rem;">
			<div class="card-body">
				<img style="margin-right: 15px" src="{{post.imageurl}}" width="140" height="200" class="img-thumbnail rounded float-left"/>
				<div >
				<h5 class="card-title">{{ post.title }} - by {{ post.book_author }}.</h5>
				<p class="card-text">{{ post.excerpt }}</p>
				<a href="/Blogs{{ post.url }}" class="btn btn-secondary">Read Review</a>
				</div>
			</div>
		</div>
		{% endfor %}
	</div>
	<div class="col-md-1"></div>
</div>
