<div class="row">
	<div class="col-md-1">
	</div>
	<div class="col-md-6">
		{% for post in site.posts %}
		<div class="card bg-light mb-3" style="max-width: {{ post.excerpt_size }}rem;">
			<div class="card-header">
				Book Review
			</div>
			<div class="card-body">
				<h5 class="card-title">{{ post.title }} - by {{ post.book_author }}</h5>
				<p class="card-text">{{ post.excerpt }}</p>
				<a href="{{ post.url }}" class="btn btn-secondary">Read Review</a>
			</div>
		</div>
		{% endfor %}
	</div>
	<div class="col-md-5"></div>
</div>
